.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f9f9fa;
  padding: 20px 50px;
  box-sizing: border-box;
  border-top: 1px solid rgba(194, 192, 192, 0.356);
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  position: relative;
  color: #2e363e;
  text-decoration: none;
}

@keyframes notificationAnimation {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-8px) rotateY(360deg);
  }
  100% {
    transform: none;
  }
}

.nav__notification {
  position: absolute;
  left: 20px;
  bottom: 16px;
  animation: notificationAnimation 2s ease-in-out infinite;
}

.nav__notification_2 {
  background-color: tomato;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  display: block;
  position: absolute;
  right: -10px;
  top: -15px;
}
